#load-more {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    width: 120px;
    transition: background-color 0.3s ease; 
  }
  
  #load-more:hover {
    opacity: .5;
  }
  
  #load-more:disabled {
    background-color: #cccccc;
    cursor: not-allowed; 
  }
  